.contact ul {
    margin-top: 5rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.contact ul li {
    flex-basis: 200px;
    min-widtH: 200px;
    border: 1px solid #2B5748;
    border-radius: 15px;
    transition: 0.5s;
}

.contact ul li:hover {
    background-color: #2B5748;
    transition: 0.5s;
}

.contact ul li a {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.contact ul li a img {
    width: 2rem;
    height: 2rem;
}

.contact ul li a p {
    cursor: pointer;
}

@media (min-width: 1440px) {
    .contact {
        margin-top: 5rem;
    }
}