/* DOCUMENT */

* {
    margin: 0;
    box-sizing: border-box;
    color: lightgray;
}

body {
    min-height: 100vh;
    position: relative;

    background: linear-gradient(
        to bottom,
        #000000 0%,
        #273338 80%
    );
}

/* BASIC ELEMENTS */

h1 {
    color: #618764;
}

p {
    max-width: 450px;
}

a {
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    transition: 0.5s;
}

ul {
    list-style-type: none;
}

hr {
    margin-top: 1rem;
    border: none;
    border-top: 1px solid #2B5748;
}

/* GLOBAL STYLES */

.box-left {
    align-items: flex-start;
    text-align: left;
}

.box-right {
    align-items: flex-end;
    text-align: right;
}

.box-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

/* MAIN DOCUMENT STYLES */

/* FONTS */
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.roboto-serif {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}

/* BACKGROUND */
.pattern::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;

    background-image: url("../assets/images/background_pattern.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    z-index: -1;
    pointer-events: none;
}

/* MAIN DIV */
.container {
    margin: 0 auto 5rem;
    min-height: 60vh;
    height: auto;
    padding: 0 10rem;
    display: flex;
    flex-direction: column;
}

/* MENU */
.menu {
    margin-bottom: 5rem;
    margin-right: 5rem;
}

.menu ul {
    display: flex;
    flex-direction: row-reverse;
    flex-basis: 200px;
}

.menu ul li {
    padding: 2rem;
}

.menu ul li a:hover {
    color: #618764;
}

.menu ul li a:active {
    color: #2B5748;
}

/* BUTTON CONTAINER */
.button-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.button-flex a {
    flex-basis: 200px;
    padding: 1rem 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #9CB080;
    background-color: #2B5748;
    border-radius: 15px;
}

.button-flex a:hover {
    color: #2B5748;
    background-color: #9CB080;
}

/* RESPONSIVENESS */

@media (max-width: 768px) {

    .pattern::after {
        display: none;
    }

    .menu {
        margin-right: 0;
    }

    .button-flex {
        flex-direction: column;
    }

    .button-flex a {
        flex-basis: auto;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    
    .container {
        padding: 0 5rem;
    }
}

@media (max-width: 425px) {

    .container {
        padding: 0 2rem;
    }
}