* {
    margin: 0;
    box-sizing: border-box;
    color: lightgray;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.roboto-serif {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}

body {
    min-height: 100vh;
    position: relative;

    background: linear-gradient(
        to bottom,
        #000000 0%,
        #273338 80%
    );
}

.pattern::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;

    background-image: url("./assets/images/background_pattern_test.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    z-index: -1;
    pointer-events: none;
}

a {
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    transition: 0.5s;
}

p {
    max-width: 450px;
}

.container {
    margin-bottom: 5rem;
    width: 100%;
    min-height: 90vh;
    height: auto;
    padding: 0 10rem;
    display: flex;
    flex-direction: column;
}

.menu {
    margin-bottom: 5rem;
    margin-right: 5rem;
}

.menu ul {
    display: flex;
    flex-direction: row-reverse;
    flex-basis: 200px;
    list-style-type: none;
}

.menu ul li {
    padding: 2rem;
}

.menu ul li a:hover {
    color: #618764;
}

.menu ul li a:active {
    color: #2B5748;
}

.button-flex {
    display: flex;
    gap: 1rem;
}

.button-flex a {
    flex-basis: 200px;
    padding: 1rem 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #9CB080;
    background-color: #2B5748;
    border-radius: 15px;
}

.button-flex a:hover {
    color: #2B5748;
    background-color: #9CB080;
}

/* ABOUT */

.left {
    align-items: flex-start;
    text-align: left;
}

.right {
    align-items: flex-end;
    text-align: right;
}

.center {
    justify-content: center;
}

@media (max-width: 768px) {

    .menu {
        margin-right: 0;
    }

    .button-flex {
        flex-direction: column;
    }

    .button-flex a {
        flex-basis: auto;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    
    .container {
        padding: 0 5rem;
    }
}

@media (max-width: 425px) {

    .container {
        padding: 0 2rem;
    }
}